<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BookMapper">

	<insert id="addBook"  parameterType="bookVo">
		insert into travel_book (id, cost, check_in, check_out, cnt_of_person, no_num, reg_date)  
		values(#{id}, #{cost}, #{checkIn}, #{checkOut}, #{cntOfPerson}, #{noNum}, now()) 
	</insert>
	
	<select id="getBookInfo" resultType="bookVo">
		select * from travel_book where num = #{ num }
	</select>
	
	<select id="getBookInfoByNum" resultType="bookVo">
		select * from travel_book where no_num = #{ noNum } order by reg_date desc;
	</select>
	
	<select id="getBookInfoById" resultType="bookVo">
		select * from travel_book where id = #{ id } order by reg_date desc;
	</select>
	
	<select id="getBookInfoByNumAndId" resultType="bookVo">
		select * from travel_book where num = #{ num } and id = #{ id }
	</select>
	
	<select id="getBookInfoByIdAndNoNum" resultType="bookVo">
		select * from travel_book where id = #{ id } and no_num = #{ noNum } order by reg_date desc
	</select>
	
	<update id="updateBookInfo">
		update travel_book 
			set id = #{id},
			cost = #{cost},
			check_in = #{checkIn},
			check_out = #{checkOut},
			cnt_of_person = #{cntOfPerson},
			no_num = #{noNum}
			where num = #{num}
	</update>
	
	<delete id="deleteBookInfo">
		delete from travel_book where num = #{num}
	</delete>
	
	<delete id="deleteBookByNoNum">
		delete from travel_book where no_num = #{noNum}
	</delete>
	
	<delete id="deleteBookById">
		delete from travel_book where id = #{id}
	</delete>
</mapper>